<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <script src="https://cdn.tailwindcss.com"></script>
  <title>Home</title>
</head>
<body class="bg-slate-900">
 <div class="container mx-auto flex flex-col my-96 gap-12 items-center">
   <!-- fetch users -->
   <form action="/users/fetch" method="get">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-96">
    Fetch Users
  </button>
  </form>


  <button class=" w-96 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ">
    Delete Users
  </button>
  <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded w-96">
    User Details
  </button>
</div>




</body>
</html>
